:root {
  --primary-color: #4CAF50;
  --secondary-color: #ff9800;
  --background-color: #f5f5f5;
  --text-color: #333333;
}

header {
  background-color: #E8F5E9;
  color: #000;
  padding: 1px 10px;
  margin-bottom: 10px;
}

header h2 {
  margin-bottom: 0;
}
header p {
  margin-top: 2px;
}

.cgpainput {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.cgpainput input {
  display: block;
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
}

button {
  background-color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}

button:hover {
  background-color: #e67e22;
}

@media (max-width: 1400px) {
  .cgpainput {
    width: 50%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .clearBtn button {
    width: 20%;
  }
}