/* CourseForm.module.css */

.course {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

input, select {
  display: block;
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 5px;
}



.removeBtn {
  background: #f44336;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
}

.removeBtn:hover {
  background: #e53935;
}

@media (max-width: 1400px) {
  .course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
  }
}