:root {
  --primary-color: #4CAF50;
  --secondary-color: #ff9800;
  --background-color: #f5f5f5;
  --text-color: #333333;
}

.GpaCalculator h2 {
  background-color: #E8F5E9;
  color: #000;
  padding: 2px 10px;
}

.actions {
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.actions button {
  width: 100%;
  background-color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  margin-bottom: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}

.actions button:hover {
  background-color: #e67e22;
}

@media (max-width: 1400px) {
  .actions{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
}