:root {
  --primary-color: #4CAF50;
  --secondary-color: #ff9800;
  --background-color: #f5f5f5;
  --text-color: #333333;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  max-width: 450px;
  margin: auto;
}

.header {
  background-color: var(--primary-color);
  color: white;
  padding: 0.2rem 1.4rem;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.2rem;
}
.header h1 {
  margin: 0;
  font-size: 1.5rem;
}
.header nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header nav li {
  list-style: none;
}
.header nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 1rem;
}
.header nav a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}

.main {
  padding: 1rem;
  background-color: var(--background-color);
  min-height: 100vh;
}

footer {
  background-color: #E8F5E9;
  text-align: center;
  padding: 5px 10px;
}

@media (max-width: 1400px) {
  .App {
    max-width: 100%;
    margin: auto;
  }
  
}
